# PORT="tu puerto de preferencia, por ejemplo: 3000"
# DEBUG="tu prefijo de debug, por ejemplo: flightchatDB:*"
# MONGO_URI="tu URI de conexión a MongoDB, por ejemplo: mongodb+srv://admin:password@cluster0.mongodb.net/database"

# SECRET_KEY="tu clave_secreta_para_secret_key"
# JWT_SECRET="tu clave_secreta_para_jwt"

# CSRF_SECRET="tu clave_secreta_para_csrf"